#hero{
    position: relative;
   width:600px;
   height:100vh;


    #modeBtn{
       position: absolute;
       right:30px;
       top:45px;

    }

    #clearBtn{
         position: absolute;
       right:30px;
       
    }
}